

body {
  font-family: 'Josefin Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

#work-categories .nav-link {
  color: black !important;
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
}

#work-categories .nav-link.active {
  border-bottom: 2px solid black;
}

